.art-container {
  position: relative;
  padding: 12px;
  width: 100%;
  margin: auto;
  height: 1050px;
}

.art-container h2 {
  text-align: center;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}
