.footer {
  position: relative;
  width: 100%;
  min-height: 250px;
  background: #1d1d1e;
  padding: 3em;
  margin: -2em auto;
}
.footer-content {
  display: flex;
  align-items: center;
  gap: 200px;
}
.footer-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 56px;
}
.site-logo {
  margin-bottom: 48px;
}
.footer-text {
  display: flex;
  align-items: center;
  gap: 180px;
}
.icons {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
.footer-info {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 9px;
}
.footer-info h3 {
  font-family: "Red Rose" cursive;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.footer-info ul {
  color: #fff;
  list-style: none;
  padding: 6px;
}
