.arts-container {
  width: 100%;
  padding: 12px;
  position: relative;
  margin: auto;
  min-height: 800px;
}
.row-image__1 {
  width: 100%;
}
.row-1__content {
  position: relative;
  width: 100%;
  min-height: 372px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
.row-2__content {
  position: relative;
  width: 100%;
  min-height: 372px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
.row-3__content {
  position: relative;
  width: 292px;
  min-height: 372px;
  left: 632px;
  top: 0px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
.row-4__content {
  position: relative;
  width: 292px;
  min-height: 372px;
  left: 948px;
  top: 0px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
.row-text,
.row-text1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  font-family: "Red Rose" cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #434343;
}
.row-5__content {
  position: absolute;
  width: 292px;
  height: 372px;
  left: 0;
  top: 400px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
.row-6__content {
  position: absolute;
  width: 292px;
  height: 372px;
  left: 316px;
  top: 400px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
.row-7__content {
  position: absolute;
  width: 292px;
  height: 372px;
  left: 632px;
  top: 400px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
.row-8__content {
  position: absolute;
  width: 292px;
  height: 372px;
  left: 948px;
  top: 400px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
}
