.profile-container {
  position: relative;
  width: 100%;
  min-height: 450px !important;
  margin: 2em auto;
  padding: 3em;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  /* border: 1px solid #000000; */
}
.profile-content {
  display: flex;
  align-items: center;
  gap: 32px;
}
.profile-text {
  position: relative;
  width: 100%;
  min-height: 100px;
}
.profile-text h2 {
  font-family: "Red Rose" cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 32px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.profile-text p {
  font-family: "Red Rose" cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;

  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.profile-text button {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border-radius: 8px;
  color: #a02279;
}
.profile-imgs {
  position: relative;
  width: 100%;
}
